body {
  min-height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), repeating-linear-gradient(rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%);
  
}

#form {
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
  text-align: center;
  padding:5%;
}

.form-control {
  border: solid rgb(100, 75, 75) 1px;
  box-shadow: inset 0 0 30px #EEE, 0 4px 2px -2px #888;
  padding: 7px;
  border-radius: 2px;
  width: 70vw;
  margin-bottom: 2%;
  transition:  0.1s ease-in-out;
  

}

.form-control:focus {
  border: solid rgb(54, 54, 133) 2px;
  outline: none;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);

}

.button-submit {


  height: 45px;
  width: 150px;
  margin: 10px 7px;
  padding: 5px 5px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: #383736;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  
  background: none;
 
  cursor: pointer;
  transition:background-color 0.2s ease-in, color 0.2s ease-in;
  
}

.button-submit:hover {
  background-color: rgb(54, 54, 133);
  color: white;
}

#results {
  box-sizing: border-box;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fill, auto);

  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

.card {
  height: 30vh;
  width:auto;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 65% 35%;
  grid-template-areas: "card-img"
    "card-text";
  border-radius: 10px 10px 30px 10px;
  text-align:center;
  transition: box-shadow 0.1s ease-in-out, height 0.1s ease-in-out;


}
.card:hover{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  height:30.5vh;
}

.card-img {
  grid-area: card-img;
  border-radius: 10px 10px 0px 0px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid black 1px;
  box-shadow: 3px 4px 5px #1c1d1f;
}

.card-text {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  grid-area: card-text;
  vertical-align: text-top;
  border: solid black 1px;
  overflow: hidden;
  padding: 5px;
  border-radius: 0px 0px 30px 10px;
  background-color: #2a2c30;
  color: #9fa1ad;
  box-shadow: 3px 4px 5px #1c1d1f;
}

.card-text a {
  background-color: #2a2c30;
  position: absolute;
    bottom: 15%;
    right:4%;

}

.card-text a:hover {
  color: red;
}
#github{
  position:absolute;
  background-repeat: no-repeat;
  background-image:url("https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png");
  background-size:contain;
  width:40px;
  height:40px;
  border-radius: 100%;
  transition: filter 0.1s ease-in-out;
}
#github:hover{
  filter:invert(100%);
  
}